.wrapper {
  background-color: #477519;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 20px;

  transition: all 0.2s ease-in-out;
}

.header {
  font-weight: bold;
  font-size: 42px;
  color: white;
  user-select: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.input_wrapper {
  flex-shrink: 0;

  position: relative;
}

.input {
  border: none;
  outline: none;
  width: 500px;
  height: 30px;

  border-radius: 0.3em;
  transition: all 0.2s ease-in-out;
}

.navigation_list {
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 20px;
}

.list_item {
  text-decoration: none;
  list-style: none;
  white-space: nowrap;

  font-size: 16px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;

  user-select: none;
  cursor: pointer;

  color: white;
  transition: all 0.2s ease-in-out;
}

.list_item:hover svg {
  transition: all 0.3s ease-in-out;
  filter: drop-shadow(0 0 0.75em white);
}

@media all and (max-width: 1280px) {
  .header {
    font-size: 32px;
  }

  .navigation_list {
    gap: 15px;
  }

  .input_wrapper {
    flex-shrink: 1;
  }

  .list_item {
    font-size: 12px;
  }
}

@media all and (max-width: 1080px) {
  .header {
    font-size: 24px;
  }

  .navigation_list {
    gap: 5px;
  }

  .list_item {
    font-size: 8px;
  }
}

@media all and (max-width: 920px) {
  .wrapper {
    justify-content: space-around;
    padding: 20px 10px;

    gap: 10px;
  }

  .header {
    font-size: 16px;
  }

  .navigation_list {
    padding-left: 0;
  }
}

@media all and (max-width: 540px) {
  .wrapper {
    padding: 20px 5px;
  }

  .header {
    font-size: 12px;
  }

  .list_item {
    font-size: 8px;
  }

  .input {
    width: 150px;
    font-size: 8px;
  }
}

@media all and (max-width: 280px) {
  .wrapper {
    padding: 20px 0px;
  }

  .header {
    font-size: 10px;
  }

  .list_item {
    font-size: 6px;
  }

  .input_wrapper {
    width: 50px;
  }
}
