.product {
  display: flex;
  flex-direction: column;
  justify-content: center;

  max-width: 270px;
  height: 360px;
  border-radius: 0.3em;

  border: 1px solid #ccc;

  position: relative;
  text-decoration: none;

  cursor: pointer;
}

.favorite_button_wrapper {
  position: absolute;
  right: 5%;
  top: 3%;
}

.favorite_button_wrapper_removable {
  position: absolute;
  right: 10%;
  top: 3%;
}

.product_image_wrapper,
.product_image_wrapper_collection {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.3em;
}

.product_image_wrapper_collection {
  width: 100%;
  height: 100%;
}

.product_information {
  display: flex;
  flex-direction: column;

  gap: 10px;
  padding: 0.3em;
}

.product_title {
  font-size: 14px;
  display: -webkit-box;
  text-overflow: ellipsis;
  max-width: 250px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.brand_name {
  font-weight: bold;
}

.title {
  font-weight: normal;
}

.rate {
  display: flex;
  align-items: center;
  gap: 10px;

  justify-self: center;
}

.count {
  font-weight: light;
  color: #777;
  justify-self: center;
}

.price {
  font-weight: bold;
  font-size: 18px;

  padding: 0.5em;

  justify-self: flex-end;
}

.buttons_wrapper {
  position: absolute;

  z-index: 99999;

  top: 0;
  right: 5%;

  display: flex;
  justify-content: space-around;
  gap: 60px;

  cursor: pointer;
}

.options_button_wrapper {
  font-size: 24px;
  z-index: 99999;

  align-self: flex-end;
}

@media all and (max-width: 540px) {
  .product {
    max-width: 150px;
    height: 200px;
  }

  .product_title {
    font-size: 12px;
  }

  .rate {
    font-size: 12px;
  }
}
