.update_button,
.update_button_active {
  align-self: center;

  cursor: not-allowed;
}

.update_button button,
.update_button_active button,
.create_address_button button {
  width: 120px;
  height: 40px;

  font-weight: bold;

  border-radius: 0.3em;

  pointer-events: none;
  cursor: not-allowed;

  opacity: 1;
  background-color: #444;
}

.update_button button,
.update_button_active button {
  outline: 1px solid gray;
  border: 1px solid gray;
  color: #ccc;
}

.update_button_active button,
.create_address_button button {
  background-color: #588620;
  cursor: pointer;
  pointer-events: all;
}

.update_button_active button:hover,
.create_address_button button:hover {
  background-color: #51ff14;
  color: #fcfcfc;
}
