.container {
  position: relative;
  overflow: hidden;
}

.modals {
  z-index: 9999;
}

.collections_wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 1.5rem;
  min-height: 100vh;
}

.create_collection_bubble {
  padding-top: 1em;
}

.collections_grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: auto;

  gap: 15px;

  padding-top: 1em;
}

.outline {
  position: absolute;
  width: 100vw;
  height: 100vh;
}
