.create_collection_button,
.create_collection_button_disabled {
  align-self: center;
  outline: none;
  border: none;

  width: 60%;
  height: 40px;
  padding: 1.5em;
  border-radius: 0.3em;

  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;

  background-color: #588620;
  cursor: pointer;
}

.create_collection_button:hover {
  background-color: #477519;
  box-shadow: 0 0 5px 0 #477519;
  color: white;
}

.create_collection_button_disabled {
  background-color: gray;
  color: white;
  cursor: not-allowed;
}
