.homepage_wrapper {
  display: flex;
  justify-content: space-between;

  position: relative;
}

.filters {
  position: sticky;
  border-right: 1px solid black;
  top: 0;
  bottom: 0;

  width: 300px;

  overflow: hidden;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter_list,
.gender_list {
  text-decoration: none;
  list-style: none;

  height: fit-content;
  overflow: hidden;
  overflow-y: auto;
}

.filter_list_price,
.gender_list {
  height: fit-content;
}

.price_list_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.filter_list_price {
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
}

.filter_list_element {
  padding-left: 0.5em;
}

.price_list_element {
  width: 100%;

  display: flex;
  justify-self: center;
  align-items: center;
}

.price_input_values {
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 10px;
}

.price_input {
  width: 80px;
  height: 25px;

  padding: 0.5em;
}

.price_input::-webkit-outer-spin-button,
.price_input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.home_grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: auto;

  width: 100%;

  gap: 100px;

  padding: 2em;
}

@media all and (max-width: 1080px) {
  .filter_list {
    font-size: 0.7em;
  }

  .price_input_values {
    gap: 5px;
  }

  .price_input {
    width: 50px;
    height: 15px;

    padding: 0;
  }
}

@media all and (max-width: 540px) {
  .filters {
    width: 340px;
  }

  .home_grid {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  }

  .price_input {
    width: 30px;
    height: 10px;

    font-size: 6px;
  }

  .custom_price_button {
    width: 12px;
    height: 12px;
    font-size: 6px;
  }
}

@media all and (max-width: 280px) {
  .price_list_wrapper {
    font-size: 0.3em;
  }

  .price_list_wrapper,
  .average_customer_review_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .filter_list {
    font-size: 0.5em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}
