.cart_item_wrapper {
  background-color: #ccc;
  width: 100%;
  padding: 1em;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1;
  place-items: center;

  border-bottom: 1px solid black;
}

.cart_item_wrapper:last-child {
  border: none;
}

.product_image {
  position: relative;
  width: 80px;
  height: 120px;
  border-radius: 0.3em;
  overflow: hidden;
}

.quantity_settings {
  display: flex;
  align-items: center;

  gap: 10px;
}

@media all and (max-width: 760px) {
  .product_image {
    width: 40px;
    height: 60px;
  }

  .product_name {
    font-size: 0.8em;
  }
}

@media all and (max-width: 500px) {
  .product_image {
    width: 20px;
    height: 30px;
  }

  .product_name {
    font-size: 0.5em;
  }

  .quantity_settings {
    gap: 5px;
  }

  .price {
    font-size: 0.6em;
  }

  .unit {
    font-size: 0.6em;
  }

  .remove_item_button {
    font-size: 0.7em;
  }
}
