.cart_wrapper {
  padding: 1em;
}

.cart_header {
  font-size: 24px;
  font-weight: bold;
}

.total_item {
  font-size: 18px;
  font-weight: normal;
}

.cart_information {
  width: 100%;
  height: 600px;
  display: flex;
}

.added_items {
  width: 100%;
  height: 100%;
  min-height: fit-content;
  overflow: hidden;
  overflow-y: auto;
  border: 1px solid black;
}

.overall_price {
  width: 40%;
  height: 60%;

  align-self: flex-start;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  border: 1px solid black;
}

.order_summary {
  font-size: 20px;
  font-weight: bold;
}

.total_price {
  font-size: 20px;
  font-weight: bold;
}

.choose_address_modal {
  position: absolute;

  left: 50%;
  top: 15%;

  transform: translateX(-50%);

  background-color: white;

  padding: 1.5rem;

  border: 1px solid black;
}

.choose_address_modal_header {
  font-size: 24px;
  font-weight: bold;

  padding-bottom: 1em;

  border-bottom: 1px solid black;
}

.choose_address_grid {
  padding-top: 1rem;
  width: 500px;
  height: 500px;

  overflow: hidden;
  overflow-y: auto;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;

  gap: 20px;
}

@media all and (max-width: 760px) {
  .total_price,
  .order_summary {
    font-size: 16px;
  }
}

@media all and (max-width: 500px) {
  .total_price,
  .order_summary {
    font-size: 12px;
  }
}
