.account_information_wrapper {
  width: 100%;
  height: 100%;

  padding: 1.5em;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.information_container_columns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.information_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  gap: 40px;
}

.input_container {
  display: flex;
  align-items: center;

  gap: 20px;
}

.header {
  font-size: 18px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

.update_button,
.update_button_active {
  align-self: center;

  cursor: not-allowed;
}

.update_button button,
.update_button_active button {
  width: 120px;
  height: 40px;

  outline: 1px solid gray;
  border: 1px solid gray;
  color: #ccc;

  font-weight: bold;

  border-radius: 0.3em;

  pointer-events: none;
  cursor: not-allowed;

  opacity: 1;
  background-color: #444;
}

.update_button_active button {
  background-color: #588620;
  cursor: pointer;
  pointer-events: all;
}

.update_button_active button:hover {
  background-color: #51ff14;
  color: #fcfcfc;
}

.cellphone_number {
  display: flex;
  align-items: center;

  gap: 20px;
}

.cellphone_number_inputs {
  display: flex;
  align-items: center;

  gap: 20px;
}

.cellphone_number_input input {
  width: 160px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 0.3em;

  padding: 0.1em 0.3em;

  border: 1px solid black;

  font-size: 18px;

  appearance: textfield;
  overflow: hidden;
}

.cellphone_number_input input::-webkit-inner-spin-button,
.cellphone_number_input input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.cellphone_number_input input {
  -moz-appearance: textfield;
}

.gender_selection {
  align-self: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 10px;
}

.gender_selection_checkboxes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 5px;
}

.male,
.female {
  width: 50px;
  cursor: pointer;
}
