.my_account_headers {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 0.5em 1em;
  width: 100%;
  border-bottom: 1px solid black;
}

.section_header,
.section_header_active {
  font-weight: bold;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
}

.section_header_active {
  border-bottom: 1px solid #477519;
  border-bottom-width: 5px;
  border-radius: 0.3em;

  padding: 0 0.5em;
}

@media all and (max-width: 1280px) {
  .section_header,
  .section_header_active {
    font-size: 20px;
  }
}

@media all and (max-width: 980px) {
  .section_header,
  .section_header_active {
    font-size: 16px;
  }
}

@media all and (max-width: 640px) {
  .section_header,
  .section_header_active {
    font-size: 10px;
  }
}
