.my_account_wrapper {
  padding: 1.5rem;

  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100vh;

  overflow: hidden;

  z-index: 1;
}

.section_container {
  border: 1px solid black;
  border-radius: 0.3em;

  width: 60%;
  height: 70%;

  display: flex;
  flex-direction: column;
}

.section {
  width: 100%;
  height: 100%;
}
