.order_details {
  padding: 1em;

  display: grid;
  grid-template-columns: repeat(2, 1fr);

  margin-top: 10px;

  border: 1px solid lightgray;
  border-radius: 0.3em;
}

.order_status {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order_status:first-child {
  color: green;
}

.order_status div {
  color: black;
}

.product_thumbnail {
  position: relative;

  width: 40px;
  height: 40px;

  object-fit: cover;
}
