.saved_address_wrapper,
.saved_address_wrapper_cart {
  position: relative;
  background-color: yellow;

  border: 1px solid black;
  border-radius: 0.3em;

  max-height: 200px;
}

.saved_address_wrapper_cart {
  border: 3px solid gray;
}

.saved_address_wrapper_cart_selected {
  border: 3px solid green;
}

.address_options {
  position: absolute;
  right: -5%;

  opacity: 0;
  pointer-events: none;

  cursor: pointer;

  transition: right 0.2s ease-in-out;

  display: flex;
  align-items: center;

  gap: 10px;
}

.saved_address_wrapper:hover .address_options {
  animation: edit 0.2s alternate forwards;
}

@keyframes edit {
  0% {
    right: 0%;
  }

  100% {
    opacity: 1;
    pointer-events: all;
    right: 5%;
  }
}
