.saved_address_wrapper,
.saved_address_wrapper_cart {
  position: relative;
  background-color: white;

  border: 1px solid black;
  border-radius: 0.3em;

  width: 280px;
  height: 280px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  gap: 5px;

  padding: 0 1em;
}

.saved_address_wrapper_cart {
  border: 3px solid gray;
}

.saved_address_wrapper_cart_selected {
  border: 3px solid green;
}

.address_options {
  position: absolute;
  right: -5%;
  top: 5%;

  opacity: 0;
  pointer-events: none;

  cursor: pointer;

  transition: right 0.2s ease-in-out;

  display: flex;
  align-items: center;

  gap: 10px;
}

.saved_address_wrapper:hover .address_options {
  animation: edit 0.2s alternate forwards;
}

.edit_address,
.remove_address {
  transition: color 0.2 ease-in-out;
}

.edit_address:hover,
.remove_address:hover {
  color: #477519;
}

.address_header {
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;

  border-bottom: 1px solid black;
}

.address_name {
  font-weight: bold;
  font-size: 16px;
}

.user_name_and_surname,
.street,
.address,
.province,
.country {
  font-size: 12px;
}

.user_name_and_surname {
  font-weight: bold;
  font-size: 14px;
}

@keyframes edit {
  0% {
    right: 0%;
  }

  100% {
    opacity: 1;
    pointer-events: all;
    right: 5%;
  }
}
