.create_new_collection_button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;

  width: 240px;
  height: 80px;

  padding: 1.5rem;
  border: 1px solid black;
  border-radius: 0.6em;
  cursor: pointer;
}

.create_new_collection_button:hover {
  background-color: #477519;
  color: white;
}

.collection_bubble {
  display: flex;
  flex-direction: column;

  border: 1px solid black;

  width: 300px;
  height: 80px;

  border-radius: 0.2em;
}

.collection_bubble_header {
  border-bottom: 1px solid black;
  padding: 0.2em 0.5em;
  font-weight: bold;

  width: 100%;

  display: flex;
  align-items: center;

  position: relative;
}

.collection_bubble_header > svg {
  margin-left: auto;
}

.collection {
  padding: 0.2em 0.5em;
  height: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.collection_images {
  display: flex;
  gap: 5px;
}

.collection_images image {
  object-fit: cover;
  border-radius: 0.3em;
}

.empty_collection_images {
  background-color: #ddd;
  color: gray;
  padding: 0.5em;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}
