.container {
  position: relative;
  overflow: hidden;
}

.modals {
  z-index: 9999;
}

.collections_wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 1.5rem;
  min-height: 100vh;
}

.collections_grid {
  display: grid;
  grid-template-columns: repeat(4, 300px);
  grid-template-rows: auto;
}

.outline {
  position: absolute;
  width: 100vw;
  height: 100vh;
}
