.favorites_wrapper {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}

.section_buttons {
  display: flex;
  align-items: center;

  width: fit-content;
  gap: 20px;
  position: relative;
}

.section_buttons::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #477519;
  position: absolute;
  bottom: -15%;
}

.section_button {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 1.2rem;
  color: #222;
  user-select: none;
  cursor: pointer;
  position: relative;
}

.section_button::before {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  bottom: -15%;
  background-color: #477519;
  transition: width 0.3s ease-in-out;
}

.section_button:hover::before {
  width: 100%;
}

.section_button:hover {
  color: #477519;
}

.section_button_selected {
  color: #477519;
}

.section_button_selected::before {
  width: 100%;
}

.empty_section {
  display: flex;

  padding: 1.5rem 2rem;
  font-size: 2rem;
  color: #c4c4c4;
  gap: 20px;
}

.favorite_products {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-template-rows: repeat(auto, 250px);

  gap: 100px;

  padding: 2em;
}
