.favorites_wrapper {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}

.favorite_products {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-template-rows: repeat(auto, 250px);

  gap: 100px;

  padding: 2em;
}
