.homepage_wrapper {
  display: flex;
  justify-content: space-between;

  position: relative;
}

.filters {
  position: sticky;
  border-right: 1px solid black;
  top: 0;

  width: 300px;

  overflow: hidden;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter_list {
  text-decoration: none;
  list-style: none;

  height: 200px;
  overflow: hidden;
  overflow-y: auto;
}

.price_list_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.filter_list_price {
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
}

.filter_list_element {
  padding-left: 0.5em;
}

.price_list_element {
  width: 100%;

  display: flex;
  justify-self: center;
  align-items: center;
}

.price_input_values {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price_input {
  width: 80px;
  height: 25px;

  padding: 0.5em;
}

.price_input::-webkit-outer-spin-button,
.price_input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.home_grid {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-template-rows: repeat(auto, 250px);

  gap: 100px;

  padding: 2em;
}
