.product_page_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  padding: 1em 0;
}

.product_info_wrapper {
  display: flex;
  justify-content: space-between;
  align-content: center;
  gap: 50px;

  width: 60%;
}

.product_images_container {
  width: 350px;
  height: 400px;
}

.product_mini_images {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding-top: 1em;
}

.product_info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  gap: 20px;
  opacity: 1;
  pointer-events: auto;
}

.product_info_hidden {
  position: absolute;
  top: 0;
  opacity: 0;
  pointer-events: none;
}

.product_title {
  font-size: 2em;
  font-weight: bold;
}

.product_description {
  font-size: 1.2em;
}

.rating {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 1.5em;
}

.point {
  color: #333;
}

.buttons_container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.zoomed_image {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 600px;
  height: 600px;
  border: 1px solid black;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
  pointer-events: auto;
}

.zoomed_image_hidden {
  opacity: 0;
  pointer-events: none;
}
